@model SpendSmart.ViewModels.WelcomeViewModel
@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h2>Welcome back to SpendSmart, @Model.Username</h2>
    <a asp-action="Expense" class="btn btn-primary">Overview</a>
    <a asp-action="CreateEditExpense" class="btn btn-secondary">Create New</a>
</div>
